@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dark mode */
@media (prefers-color-scheme: dark) {
  html {
    background-color: #1a202c;
    color: #fff;
  }
}

.toggle-btn {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 50;
}